@model GameDetailsViewModel

<h1>Game with id @Model.Id and theme @Model.Theme</h1>

<h3>Participants: </h3>
<ul class="list-group has-success">
    @foreach (var participant in @Model.Participants)
    {
        <li style="width: 20%" class="list-group-item">
            <a href="/user/viewprofile/@participant.Id">@participant.UserName </a>
            @if (participant.HasDrawn)
                {
                <span class="glyphicon glyphicon-ok form-control-feedback"  aria-hidden="true"></span>
            }

        </li>

    }
</ul>

@if (Model.Participants.Any(p => p.UserName == User.Identity.Name))
{
    var participant = Model.Participants.First(p => p.UserName == User.Identity.Name);
    if (!participant.HasDrawn)
    {
        <a class="btn btn-success" href="/games/play/draw/@Model.Id">Make Drawing</a>
    }
    <a class="btn btn-danger" href="/games/play/leave/@Model.Id">Leave game</a>
}
else
{
    <a class="btn btn-success" href="/games/play/join/@Model.Id">Join game</a>
}
