
<h1>Drawing!</h1>

<div>
    <div id="buttons">
        <button class="btn btn-default">Select Color</button>
        <input type="color" id="myColor">
    </div>
</div>

<div id="sketch-holder"></div>

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
    <script src="/js/drawing/sketch.js"></script>
    <script src="/js/drawing/helpers.js"></script>
}
