
<h1>Drawing!</h1>

<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <div>
            <label>Select Color:</label>
            <input type="color" id="myColor">
            <br/>
            <label>Select radius:</label>
            <select id="radius">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="6">6</option>
            </select>
            <br/>
            <button class="btn btn-default" onclick="clearboard()">Clear Board</button>
        </div>
    </div>
    <div class="col-md-8">
        <div id="sketch-holder"></div>
    </div>
</div>


<form action="/games/play/submitdrawing" method="post" id="myForm">
    <input id="gameId" hidden value="@ViewData["id"]" />
    <div class="form-group">
        <input type="submit" class="btn btn-success" data-id="svn-btn" value="Save" id="savebutton"/>
        <img src="~/images/loading.gif" id="img" style="display: none; height: 40px" alt="Saving..." />
    </div>
</form>

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
    <script src="/js/drawing/sketch.js"></script>
    <script src="/js/drawing/helpers.js"></script>
}
