@model UserProfilePageViewModel


<img style="width: 200px" src="@Model.ProfilePicture" alt="Profile picture not uploaded or corrupted"/>
<h1>@Model.UserName</h1>
@if (Model.IsBanned)
{
    <h2 class="text-danger">Banned</h2>
}
<p>Total score - >@Model.TotalScore</p>

@if (Model.UserName == User.Identity.Name)
{
    <a class="btn btn-primary" href="/manage/index">Manage profile</a>  
}