@model ReportDetailsViewModel

<h1>Report</h1>

<a href="/admin/report/close?reportId=@Model.Id" class="btn btn-success">Close report</a>

<div class="row">
    @foreach (var userDrawing in Model.Drawings)
    {
        <div class="col-md-4" style="background-color: gray; border: 2px solid black; border-radius: 10%;">
            <img style="width: 80%" src="@userDrawing.ImageUrl" alt="Image" />
            @if (userDrawing.IsBanned)
            {
                <div class="btn btn-danger" disabled>Banned</div>
            }
            else
            {
                <a href="/admin/ban/banfromreport?banId=@userDrawing.UserId&reporterId=@Model.ReporterId&reportId=@Model.Id" class="btn btn-danger">Ban User</a>
                <a href="/admin/report/chooseandclose?reportId=@Model.Id&userId=@userDrawing.UserId" class="btn btn-warning">Choose Winner & close report</a>
            }
        </div>
    }
</div>
